version: "3.7"
services:
  geysermc:
    container_name: minecraft-geysermc
    image: ghcr.io/anthr76/geyser-docker:latest
    restart: unless-stopped
    ports:
      - 19132:19132/udp
    environment:
     - PUID=${PUID}
     - PGID=${PGID}
     - TZ=${TZ}
    volumes:
     - ${PWD}:/config